/* Menu Productos */

.list-menu{
	width: 100%;
	padding:0;
	list-style:none;
	font-size:16px;
	margin-top: -1px;
}
.list-menu li a{
	display: block;
	border-bottom: 1px solid gray;
	background:whitesmoke;
	text-decoration:none;
	color:gray;
	filter: dropshadow(color=#000, offx=1, offy=0);
	padding:5px;
	padding-left:20px;
}
.list-menu li .prod, .list-menu li .prod:hover{
	background: #fff;
	cursor: default;
	border: none;
	font-size: 24px;
}
 
.list-menu li ul li a{
	font-size:15px;
	color:gray;
	text-shadow: 1px 0px 1px whitesmoke;
}
 
.list-menu li a:hover{
	background:rgb(61, 61, 61);
	-moz-transition: background 0.3s ease-in;
	-webkit-transition: background 0.3s ease-in;
	-o-transition: background 0.3s ease-in;
	/*border: solid 1px rgba(0,0,0,0.3);*/
	color: whitesmoke;
}
 
.list-menu ul{
	margin:0;
	padding:0;
	list-style:none;
	height:0;
	overflow: hidden;
	transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
}
 
.list-menu li ul{
	transition:1s;
	-moz-transition:1s;
	-webkit-transition:1s;
}
 
.list-menu li:hover ul{
	height: 120px;
	overflow-y:auto;
	overflow-x:hidden;
	background:rgba(128, 128, 128, 0.33);
}
 
.list-menu ul li a{
	background:#fff;
}
 
.list-menu ul li a:hover {
	background-color: rgb(61, 61, 61);
}
#owl-princ .item img{
    display: block;
    width: 100%;
    height: auto;
}
#owl-princ .item{
	height: 400px;
}
body{background-color: whitesmoke;}
.container{
	min-width: 980px !important;
}
.romb{
	height: 14px;
	width: 100%;
	background-repeat: repeat-x;
	padding-top: 3px;
	padding-bottom: 3px;
	/*border: #353535 solid 1px;*/
}
#navmain{
	background-color: #515151;
	min-height: 31px;
}
#navmain .navbar-nav li a{
	padding: 4px 15px; 
	color: white;
} 
#navmain .navbar-nav li a:hover{
	color: #b0b0b0;
}
.main{
	background-color: white;
	padding-top: 15px;
}
#navsec{
	min-height: 37px;
	border-radius: 0px;
	margin-bottom: 0px;
}
#navsec .navbar-nav li a{
	padding: 10px 10px; 
	color: #2c2d28;
	font-size: 15px;
	font-weight: 600;
} 
#navsec .navbar-nav li a:hover{
	background-color: #F7BC11;
}
.contnav{
	padding: 0px 0px;
}
.colornn{
	color: #2c2d28;
	background-color: whitesmoke;
	border-bottom: solid 4px #902421;
}
.panel-body a{
	text-decoration: none;
	color: whitesmoke;
}
.panel-body p{
	border-bottom: solid 1px whitesmoke;
	padding:7px 0px;
	margin-bottom: 0px;
}
.panel-body{
	font-size: 15px;
	line-height: 1.3; 
}
.txtnn{
	color: #2c2d28;
	font-size: 20px;
	font-weight: 600;
}
.mentit{
	background-color: #515151;
	padding: 12px 0;
	margin-top: 1px;
	margin-bottom: -1px;
}
.contentsc{
  	margin-top:20px; 
}
.masdes div.col-xs-4{
	margin-bottom: 10px;
}
.secunsc h5{
		font-size: 19px;
}
@media screen and (max-width: 1200px) { 
	#navsec .navbar-nav li a{
		font-size: 12px;
	} 
}