<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta property="fb:app_id" content="814315778652913" />
	<meta property="og:site_name" content="NN Noticias Sinaloa"/>
	
	<title>NN Noticias Sinaloa {{TITULO_PAGINA}}</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/pustyle.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
	<link rel="stylesheet" href="{{STATIC_URL}}owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="{{STATIC_URL}}owl-carousel/owl.theme.css">

	<link rel="icon" href="{{STATIC_URL}}img/logonn.png">

	{% block head %}
	{% endblock %}

</head>
<body>

<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
    FB.init({
      appId      : '814315778652913',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<nav class="menu slide-menu-left">
		<ul class="list-menu">
			<li class="mentit"><h4 style="font-weight:600;color:whitesmoke;">SECCIONES</h4></li>

		{% for seccion in secciones_all %}
			<li>
				<a href="/seccion/{{seccion.slug}}">{{seccion.nombre}}</a>
				{% if seccion.get_subseccion %}
				<ul>
				{% for subseccion in seccion.get_subseccion %}
					<li><a href="/seccion/{{seccion.slug}}/subseccion/{{subseccion.slug}}">{{subseccion.nombre}}</a></li>
				{% endfor %}
				</ul>
				{% endif %}
			</li>
		{% endfor %}	

		</ul>
	</nav>
	<nav id="navmain" class="navbar navbar-default" style="border-radius: 0px;">
		<div class="container">
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/nosotros">Nosotros</a></li>
					<li><a href="/contacto">Contacto</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container main">
		<div class="row" style="margin-bottom:23px">
			<div class="col-xs-2">
				<a href="/"><img src="{{STATIC_URL}}img/logonn.png" style="width:100%"></a>
			</div>
			<div class="col-xs-10">
				<div class="row">
					{% if not banner1 %}
						<div class="col-xs-6">
							<div class="publi" style="height: 115px;width: 100%;margin: 8px 0px;">
							</div>
						</div>
					{% else %}
					<div class="col-xs-6">
						<a href="{{banner1.url}}">
							<div class="publi" style="height: 115px;width: 100%;margin: 8px 0px; background-image: url('{{MEDIA_URL}}{{banner1.imagen}}');background-size: contain;background-repeat: no-repeat;">
							</div>
							<!--<img src="{{MEDIA_URL}}{{banner1.imagen}}" style="height: 115px;width: 100%;margin: 8px 0px;">-->
						</a>
					</div>
					{% endif %}
					{% if not banner2 %}
						<div class="col-xs-6">
							<div class="publi" style="height: 115px;width: 100%;margin: 8px 0px;">
							</div>
						</div>
					{% else %}
					<div class="col-xs-6">
						<a href="{{banner2.url}}">
							<div class="publi" style="height: 115px;width: 100%;margin: 8px 0px; background-image: url('{{MEDIA_URL}}{{banner2.imagen}}');background-size: contain;background-repeat: no-repeat;">
							</div>
							<!--<img src="{{MEDIA_URL}}{{banner2.imagen}}" style="height: 115px;width: 100%;margin: 8px 0px;">-->
						</a>
					</div>
					{% endif %}
				</div>
				<div class="romb" style="background: url({{STATIC_URL}}img/triangle.png);background-size: contain;"></div>
			</div>
		</div>
	</div>
	<div class="container contnav">
		<nav id="navsec" class="navbar navbar-default colornn">
			<!--<div class="container">-->
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav" id="nav">
						<li><a class="nav-toggler toggle-slide-left" style="padding:10px 15px 10px 15px;cursor:pointer;"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a></li>
						{% for seccion_index in secciones_index %}
						{% if seccion_index.uno %}
						<li><a href="/seccion/{{seccion_index.uno.slug}}">{{seccion_index.uno.nombre|upper}}</a></li>
						{% endif %}
						{% if seccion_index.dos %}
						<li><a href="/seccion/{{seccion_index.dos.slug}}">{{seccion_index.dos|upper}}</a></li>
						{% endif %}
						{% if seccion_index.tres %}
						<li><a href="/seccion/{{seccion_index.tres.slug}}">{{seccion_index.tres|upper}}</a></li>
						{% endif %}
						{% if seccion_index.cuatro %}
						<li><a href="/seccion/{{seccion_index.cuatro.slug}}">{{seccion_index.cuatro|upper}}</a></li>
						{% endif %}
						{% if seccion_index.cinco %}
						<li><a href="/seccion/{{seccion_index.cinco.slug}}">{{seccion_index.cinco|upper}}</a></li>
						{% endif %}
						{% if seccion_index.seis %}
						<li><a href="/seccion/{{seccion_index.seis.slug}}">{{seccion_index.seis|upper}}</a></li>
						{% endif %}
						{% if seccion_index.siete %}
						<li><a href="/seccion/{{seccion_index.siete.slug}}">{{seccion_index.siete|upper}}</a></li>
						{% endif %}
						{% if seccion_index.ocho %}
						<li><a href="/seccion/{{seccion_index.ocho.slug}}">{{seccion_index.ocho|upper}}</a></li>
						{% endif %}
						{% if seccion_index.nueve %}
						<li><a href="/seccion/{{seccion_index.nueve.slug}}">{{seccion_index.nueve|upper}}</a></li>
						{% endif %}
						{% if seccion_index.diez %}
						<li><a href="/seccion/{{seccion_index.diez.slug}}">{{seccion_index.diez|upper}}</a></li>
						{% endif %}
						{% if seccion_index.once %}
						<li><a href="/seccion/{{seccion_index.once.slug}}">{{seccion_index.once|upper}}</a></li>
						{% endif %}
						{% endfor %}
					</ul>
				</div>
			<!--</div>-->
			<div style="width:100%; height:2px; background-color:#515151"></div>
			<div style="width:100%; height:3px; background-color:#FBBC09"></div>
		</nav>
	</div>

	{% block contenido %}{% endblock %}
	<div class="container main">
	<div class="row">
	{% if banner6 %}
		<div class="col-xs-12">
			<a href="{{banner6.url}}">
				<div class="pub1" style="margin-left: auto; margin-right: auto;width: 100%;height: 100px; margin-bottom: 22px; background-image:url('{{MEDIA_URL}}{{banner6.imagen}}');background-size: contain;background-repeat: no-repeat;">
				</div> 
			</a>
		</div>  
	{% endif %}
	</div>
	</div>
	<div class="container" style="margin-top:20px">
		<div class="row" style="background-color:#424242">
			<div class="col-xs-4">
				<ul>
				{% for seccion in secciones_all %}
					<li><h5><a href="/seccion/{{seccion.slug}}" style="color:whitesmoke;text-decoration:none">{{seccion.nombre}}</a></h5></li>
				{% if forloop.counter|divisibleby:6 %}
				</ul>
				</div>
				<div class="col-xs-4">
				<ul>
				{% endif %}
				{% endfor %}
				</ul>
			</div>
			<div class="col-xs-4">
				<div class="fb-like-box" data-href="https://www.facebook.com/nnsinaloa" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
			</div>
		</div>
		<div class="row" style="background-color:#2b2a28">
			<div class="col-xs-12" style="height:40px">
				<h6 style="color:whitesmoke; text-align:right">NN Noticias Sinaloa 2015. Todos los derechos reservados.</h6>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}owl-carousel/owl.carousel.js"></script>
	<script src="{{STATIC_URL}}js/classie.js"></script>
	<script src="{{STATIC_URL}}js/nav.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-63925727-1', 'auto');
	  ga('send', 'pageview');

	</script>
	{% block scripts %}{% endblock %}
</body>

</html>