{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" href="{{STATIC_URL}}fancybox/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{{STATIC_URL}}fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({'titlePosition'  : 'inside'});
	});
	</script>
{% endblock %}
{% block contenido %}
<div class="container main">
	<div class="row">
		<div class="col-xs-8">
			<div class="row">
				<div class="col-xs-12">
					<h3 class="page-header">Ultimos Cartones</h3>
				</div>
			</div>
			<div class="row">
			{% for carton in cartones %}
				<div class="col-xs-4 portfolio-item">
					<a class="fancybox" rel="group" href="{{carton.imagen.url}}" title="{{carton.autor.nombre}} - {{carton.fecha|date:'d/m/Y'}}">
						<img class="img-responsive" src="{{carton.imagen.url}}" alt="" style="width:230px;height:131px" />
					</a>
				</div>
			{% if forloop.counter|divisibleby:3 %}
				</div>
				<div class="row">
			{% endif %}
				
			{% endfor %}
			</div>

			<hr>

			{% if cartones.paginator.num_pages > 1 %}
			<div class="row text-center">
				<div class="col-xs-12">
					<ul class="pagination">
						{% if cartones.has_previous %}
							<li>
								<a href="/seccion/cartones/?page={{ cartones.previous_page_number }}">&laquo;</a>
							</li>
						{% else %}
							<li class="disabled">
								<a href="#">&laquo;</a>
							</li>
						{% endif %}
						{% for p in cartones.paginator.page_range %}
							{% if p == cartones.number %}
								<li class="active">
							{% else %}
								<li>
							{% endif %}
								<a href="/seccion/cartones/?page={{p}}">{{p}}</a>
							</li>
						{% endfor %}
						{% if cartones.has_next %}
							<li>
								<a href="/seccion/cartones/?page={{ cartones.next_page_number }}">&raquo;</a>
							</li>
						{% else %}
							<li class="disabled">
								<a href="#">&raquo;</a>
							</li>
						{% endif %}
					</ul>
				<!--
					<ul class="pagination">
						<li>
							<a href="#">&laquo;</a>
						</li>
						<li class="active">
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">&raquo;</a>
						</li>
					</ul>
				-->
				</div>
			</div>
			{% endif %}
		</div>
		<div class="col-xs-3" style="margin-top:24px">
			<form method="get" action="/buscar/">
				<div class="well">
					<h4>Buscar {% if subseccion %}{{subseccion.nombre}}{% else %}{{seccion.nombre}}{% endif %}</h4>
					<div class="input-group">
						<input type="hidden" name="subseccion" value="{{subseccion.slug}}">
						<input type="hidden" name="seccion" value="{{seccion.slug}}">
						<input type="text" name="titulo" class="form-control" required>
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</form>
			<div class="panel">
				<div class="panel-heading colornn" style="border-bottom:solid 2px #515151">
					<h3 class="panel-title txtnn"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>ULTIMAS NOTICIAS</h3>
				</div>
				<div style="width:100%; height:3px; background-color:#FBBC09"></div>
				<div style="width:100%; height:4px; background-color:#902421"></div>
				<div class="panel-body" style="height: 350px;overflow-y:scroll;background-color:#424242;">
					{% for ultima_noticia in ultimas_noticias %}
					<p><a href="/noticia/{{ultima_noticia.slug}}">{{ultima_noticia.titulo}}</a></p>
					{% endfor %}
				</div>
			</div>
			{% if banner3 %}
			<a href="{{banner3.url}}">
				<div style="width:100%;height:400px;background-size: contain;background-repeat: no-repeat;margin-top:55px; background-image: url('{{MEDIA_URL}}{{banner3.imagen}}')"></div>
			</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}