{% extends 'base.html' %}

{% block contenido %}
<div class="container main">
	<div class="row entblog">
		<div class="col-xs-12" style="margin-bottom:60px">
			<div class="jumbotron">
                <h1>¡Estamos en construcción!</h1>
                <p>Esta sección del portal aún esta en construcción.</p>
                <p><a class="btn btn-warning btn-lg" href="/">Regresar</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}