{% extends 'base.html' %}

{% block contenido %}
<div class="container main">
	<div class="row">
		<div class="col-xs-12">
			<h3 class="page-header">Contacto <small>Dejanos un mensaje</small></h3>
		</div>
	</div>
	<div class="row" style="margin-bottom:30px">
		<div class="col-xs-12">
			{% if enviado == 1 %}
				<div class="alert alert-success" role="alert"><strong>Mensaje Enviado</strong></div>
			{% endif %}
			<form role="form" method="post" autocomplete="off">
				{% csrf_token %}
				<div class="col-xs-8">
					<div class="form-group">
						<label for="InputName">Nombre</label>
						<div class="input-group">
							<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Nombre" required="">
							<span class="input-group-addon"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="InputEmail">Correo Electrónico</label>
						<div class="input-group">
							<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Email" required="">
							<span class="input-group-addon"></span>
						</div>
					</div>
					<div class="form-group">
						<label for="InputMessage">Escribe tu mensaje...</label>
						<div class="input-group">
							<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required=""></textarea>
							<span class="input-group-addon"></span>
						</div>
					</div>
					<input type="submit" name="submit" id="submit" value="Enviar" class="btn btn-success pull-right">
				</div>
			</form>
			<div class="col-xs-4">
				<address>
					{{contacto.informacion|safe}}
				</address>
			</div>
		</div>
	</div>

</div>

{% endblock %}