{% extends 'base.html' %}

{% block contenido %}
<style>
	.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: 0px;
top: 130px;
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: 0px;
top: 130px;
}
</style>
{{horass}}
<div class="container main">
	<div class="row" style="margin-bottom:20px">
		<div class="col-xs-9">
			<div id="owl-princ" class="owl-carousel owl-theme">
				{% for noticia_slider in noticias_slider %}
				<a href="noticia/{{noticia_slider.slug}}">
					<div class="item">
						<img src="{{MEDIA_URL}}{{noticia_slider.imagen}}" alt="Noticia">
						<div style="width:100%;height:100px;background-color:rgba(26, 26, 26, 0.89);position:absolute;bottom:0;">
							<div style="margin-left:18px;margin-top:-10px">
								<h3 style="color:whitesmoke;margin-top:20px;font-size:26px;"><b>{{noticia_slider.titulo}}</b></h3>
								<h5 style="color:white;font-size:17px;">{{noticia_slider.descripcion}}</h5>
							</div>
						</div>
					</div>
				</a>
				{% endfor %}
			</div>
		</div>
		<div class="col-xs-3">
			<div class="panel">
				<div class="panel-heading colornn" style="border-bottom:solid 2px #515151">
					<h3 class="panel-title txtnn"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>ULTIMAS NOTICIAS</h3>
				</div>

				<div style="width:100%; height:3px; background-color:#FBBC09"></div>
				<div style="width:100%; height:4px; background-color:#902421"></div>
				<div class="panel-body" style="height: 350px;overflow-y:scroll;background-color:#424242;">
					{% for noticia in ultimas_noticias %}
					<p><a href="/noticia/{{noticia.slug}}">{{noticia.titulo}}</a></p>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<div class="row"> 
	{% if not banner3 %}
		<div class="col-xs-3">
				<div style="width:100%;height:400px;margin-top:55px;}}'"></div>
			</a>
		</div>
	{% else %}
		<div class="col-xs-3">
			<a href="{{banner3.url}}">
				<div style="width:100%;height:400px;background-size: contain;background-repeat: no-repeat;margin-top:55px; background-image: url('{{MEDIA_URL}}{{banner3.imagen}}')"></div>
			</a>
		</div>
	{% endif %}
		<div class="col-xs-9">
			<span class="colornn txtnn" style="padding:5px 21px"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>MAS DESTACADO...<span style="width:100%; height:2px; background-color:#515151"></span>
			<span style="width:100%; height:3px; background-color:#FBBC09"></span></span>
			<div class="row masdes" style="padding-top:20px">
				{% for noticia_dest in noticias_dest %}
				<a href="/noticia/{{noticia_dest.slug}}">
					<div class="col-xs-4">
						{% if noticia_dest.imagen %}
						<img src="{{MEDIA_URL}}{{noticia_dest.imagen}}" style="width:100%;height:160px">
						{% endif %}
						<h5><b>{{noticia_dest.titulo}}</b></h5>
					</div>
				</a>
			{% if forloop.counter|divisibleby:3 %}
			</div>
			<div class="row">
			{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
	<div class="row" style="padding:10px 0">
	{% if banner4 %}
		<a href="{{banner4.url}}">
		<div class="col-xs-6">
			<div class="pub2" style="margin-left: auto; margin-right: auto;width: 100%;height: 100px; margin-bottom: 22px;background-image: url('{{MEDIA_URL}}{{banner4.imagen}}');background-size: contain;background-repeat: no-repeat;">
			</div> 
		</div>
		</a>
	{% endif %}
	{% if banner5 %}
		<a href="{{banner5.url}}">
		<div class="col-xs-6">
			<div class="pub2" style="margin-left: auto; margin-right: auto;width: 100%;height: 100px; margin-bottom: 22px;background-image: url('{{MEDIA_URL}}{{banner5.imagen}}');background-size: contain;background-repeat: no-repeat;;">
			</div> 
		</div>
		</a>
	{% endif %}

  </div>
	<div class="row" style="margin-bottom:30px">
		{% for i in secciones_dest %} 	
		<div class="col-xs-3">
			<span class="colornn txtnn" style="padding:5px 21px;margin-bottom:30px;">
				<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
				{{i.nombre}}
			</span>

			<div class="contentsc">

				<a href="/noticia/{{i.get_first.slug}}/" style="text-decoration:none">
					<div class="firstsc">
						{% if i.get_first.imagen %}
						<img src="{{i.get_first.imagen.url}}" style="width:100%;height:120px">
						{% endif %}
						<h5><b>{{i.get_first.titulo}}</b></h5>
					</div>
				</a>

				{% for noti in i.get_last_noticias %}
					<div class="secunsc">
						<div class="row">
						<a href="/noticia/{{noti.slug}}/">
							<div class="col-xs-3">
								{% if noti.imagen %}
								<img src="{{noti.imagen.url}}" style="width:60px;margin-top:7px;height:60px">
								{% endif %}
							</div>
							<div class="col-xs-9">
								<h5 style="margin-top:0px">{{noti.titulo}}</h5>
							</div>
						</a>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
		{% endfor %}
	</div>
	<div class="row">
		{% if revista %}
			<div class="col-xs-12">
				<a href="/revista/{{revista.slug}}">
					{% if revista.imagen_banner %}
					<div class="pub1" style="margin-left: auto; margin-right: auto;width: 100%;height: 150px; margin-bottom: 22px; background-image:url('{{MEDIA_URL}}{{revista.imagen_banner}}');background-size: contain;background-repeat: no-repeat;">
					</div> 
					{% endif %}
				</a>
			</div>  
		{% endif %}
	</div>
	<div class="row">
		{% for art in buzon_ult %}
		<div class="col-xs-6">
			<div class="panel panel-danger">
                <div class="panel-heading" style="color:white">Buzón Ciudadano - {{art.fecha}}</div>
                <div class="panel-body">
                  {{art.descripcion}}
                </div>
            </div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {

	$("#owl-princ").owlCarousel({
	  //navigation : true, // Show next and prev buttons
	  autoPlay: 3000,
	  stopOnHover: true,
	  navigation: true,
      navigationText: [
      "<i class='glyphicon glyphicon-chevron-left'></i>",
      "<i class='glyphicon glyphicon-chevron-right'></i>"
      ],
	  slideSpeed : 300,
	  paginationSpeed : 400,
	  singleItem:true
	});
});
</script>
{% endblock %}