{% extends 'base.html' %}

{% block contenido %}
<div class="container main">
	<div class="row">
		<div class="col-xs-8">
			<div class="row">
				<div class="col-xs-12">
					<h3 class="page-header">Ultimas Noticias <span style="background-color:whitesmoke;">{{seccion.nombre}} {% if subseccion %}: {{subseccion.nombre}}{% endif %}</span></h3>
				</div>
			</div>
			<div class="row">
			{% for noticia in noticias %}
				<div class="col-xs-4 portfolio-item">
					<a href="/noticia/{{noticia.slug}}" style="text-decoration:none">
						{% if noticia.imagen %}
						<img class="img-responsive" src="{{MEDIA_URL}}{{noticia.imagen}}" alt="" style="width:230px;height:131px">
						{% endif %}
						<h5>
							{{noticia.titulo}}
						</h5>
					</a>
				</div>
			{% if forloop.counter|divisibleby:3 %}
				</div>
				<div class="row">
			{% endif %}
				
			{% endfor %}
			</div>

			<hr>

			{% if noticias.paginator.num_pages > 1 %}
			<div class="row text-center">
				<div class="col-xs-12">
					<ul class="pagination">
						{% if noticias.has_previous %}
							<li>
								<a href="/seccion/{{seccion.slug}}/subseccion/{{subseccion.slug}}/?page={{ noticias.previous_page_number }}">&laquo;</a>
							</li>
						{% else %}
							<li class="disabled">
								<a href="#">&laquo;</a>
							</li>
						{% endif %}
						{% for p in page_numbers %}
							{% if p == noticias.number %}
								<li class="active">
							{% else %}
								<li>
							{% endif %}
								<a href="/seccion/{{seccion.slug}}/subseccion/{{subseccion.slug}}/?page={{p}}">{{p}}</a>
							</li>
						{% endfor %}
						{% if noticias.has_next %}
							<li>
								<a href="/seccion/{{seccion.slug}}/subseccion/{{subseccion.slug}}/?page={{ noticias.next_page_number }}">&raquo;</a>
							</li>
						{% else %}
							<li class="disabled">
								<a href="#">&raquo;</a>
							</li>
						{% endif %}
					</ul>
				<!--
					<ul class="pagination">
						<li>
							<a href="#">&laquo;</a>
						</li>
						<li class="active">
							<a href="#">1</a>
						</li>
						<li>
							<a href="#">&raquo;</a>
						</li>
					</ul>
				-->
				</div>
			</div>
			{% endif %}
		</div>
		<div class="col-xs-3" style="margin-top:24px">
			<form method="get" action="/buscar/">
				<div class="well">
					<h4>Buscar {% if subseccion %}{{subseccion.nombre}}{% else %}{{seccion.nombre}}{% endif %}</h4>
					<div class="input-group">
						<input type="hidden" name="subseccion" value="{{subseccion.slug}}">
						<input type="hidden" name="seccion" value="{{seccion.slug}}">
						<input type="text" name="titulo" class="form-control" required>
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</form>
			<div class="panel">
				<div class="panel-heading colornn" style="border-bottom:solid 2px #515151">
					<h3 class="panel-title txtnn"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>ULTIMAS NOTICIAS</h3>
				</div>
				<div style="width:100%; height:3px; background-color:#FBBC09"></div>
				<div style="width:100%; height:4px; background-color:#902421"></div>
				<div class="panel-body" style="height: 350px;overflow-y:scroll;background-color:#424242;">
					{% for ultima_noticia in ultimas_noticias %}
					<p><a href="/noticia/{{ultima_noticia.slug}}">{{ultima_noticia.titulo}}</a></p>
					{% endfor %}
				</div>
			</div>
			{% if banner3 %}
			<a href="{{banner3.url}}">
				<div style="width:100%;height:400px;background-size: contain;background-repeat: no-repeat;margin-top:55px; background-image: url('{{MEDIA_URL}}{{banner3.imagen}}')"></div>
			</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}