{% extends 'base.html' %}

{% block contenido %}
<div class="container main">
	<div class="row entblog">
		<div class="col-xs-12" style="margin-bottom:60px">
			{{nosotros.informacion|safe}}
        </div>
    </div>
</div>
{% endblock %}