{% extends 'base.html' %}

{% block head %}
	<meta property="og:title" content="{{noticia.titulo}}"  />
	<meta property="og:type" content="article" />
	<meta property="article:section" content="{{noticia.seccion.nombre}}" />
	<meta property="article:section" content="{{noticia.subseccion.nombre}}" />
	<meta property="article:published_time" content="{{noticia.fecha|date:'c'}}" />

	<meta property="twitter:title" content="{{noticia.titulo}}"  />
{% endblock %}

{% block contenido %}
<link rel="stylesheet" href="{{STATIC_URL}}fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
<link rel="stylesheet" href="{{STATIC_URL}}fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
<style>
.entblog p{
	font-size: 16px;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}
.item{
	margin: 4px;
}
</style>
<div class="container main">
	<div class="row entblog">
		<div class="col-xs-9" style="margin-bottom:60px">
			<h1>{{noticia.titulo}}</h1>
			<!--<p class="lead">
				por: {{noticia.autor}}
			</p>-->
			<hr class="firhr">
			<p class="blogtime"><span class="glyphicon glyphicon-time"></span> Publicado el {{noticia.fecha|date:'j \d\e F \d\e\l Y f a'}} <span class="label label-default">{{noticia.seccion.nombre}}</span><span class="label label-warning">{{noticia.subseccion.nombre}}</span></p>
			<hr class="sechr">
			{% if noticia.imagen %}
			<img class="img-responsive" style="width:100%" src="{{noticia.imagen.url}}" alt="">
			{% endif %}
			{% if noticia.imagenes %}
			<div id="galeria">
				{% for imagen in noticia.imagenes %}
				<div class="item">
				<a class="fancybox" rel="group" href="{{imagen.imagen.url}}"><div style="width:100%;background-image:url('{{imagen.imagen.url}}');height:180px;background-size: contain;background-repeat: no-repeat;"></div></a>
				</div>
				{% endfor %}
			</div>
			{% endif %}
			<hr>
			<h4>{{noticia.descripcion|safe}}</h4>
			{{noticia.cuerpo|safe}}
			<p>&nbsp;</p>
			<center>
				<ul class="share-buttons">
					<li>
						<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.nnsinaloa.com%2F&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;">
							<img src="/static/images/flat_web_icon_set/color/Facebook.png">
						</a>
					</li>
					<li>
						<a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fwww.nnsinaloa.com%2F&text=:%20http%3A%2F%2Fwww.nnsinaloa.com%2F" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent('{{noticia.titulo}}') + ':%20'  + encodeURIComponent(document.URL)); return false;">
							<img src="/static/images/flat_web_icon_set/color/Twitter.png">
						</a>
					</li>
					<li>
						<a href="https://plus.google.com/share?url=http%3A%2F%2Fwww.nnsinaloa.com%2F" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;">
							<img src="/static/images/flat_web_icon_set/color/Google+.png">
						</a>
					</li>
					<li>
						<a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.nnsinaloa.com%2F&description=" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent('{{noticia.titulo}}')); return false;">
							<img src="/static/images/flat_web_icon_set/color/Pinterest.png">
						</a>
					</li>
					<li>
						<a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fwww.nnsinaloa.com%2F&title=&summary=&source=http%3A%2F%2Fwww.nnsinaloa.com%2F" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent('{{noticia.titulo}}')); return false;">
							<img src="/static/images/flat_web_icon_set/color/LinkedIn.png">
						</a>
					</li>
					<li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fwww.nnsinaloa.com%2F" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img src="/static/images/flat_web_icon_set/color/Email.png"></a></li>
				</ul>
			</center>
			<p>&nbsp;</p>
			<p>
				<div id="disqus_thread"></div>
				<script type="text/javascript">
				var disqus_shortname = 'nnsinaloa';					
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
				</script>
			</p>
		</div>
		<div class="col-xs-3" style="margin-top:24px">
			<form method="get" action="/buscar/">
				<div class="well">
					<h4>Buscar en Noticias.</h4>
					<div class="input-group">
						<input type="hidden" name="subseccion" value="{{subseccion.slug}}">
						<input type="hidden" name="seccion" value="{{seccion.slug}}">
						<input type="text" name="titulo" class="form-control" required>
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</form>
			<div class="panel">
				<div class="panel-heading colornn" style="border-bottom:solid 2px #515151">
					<h3 class="panel-title txtnn"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>ULTIMAS NOTICIAS</h3>
				</div>
				<div style="width:100%; height:3px; background-color:#FBBC09"></div>
				<div style="width:100%; height:4px; background-color:#902421"></div>
				<div class="panel-body" style="height: 350px;overflow-y:scroll;background-color:#424242;">
					{% for ultima_noticia in ultimas_noticias %}
					<p><a href="/noticia/{{ultima_noticia.slug}}">{{ultima_noticia.titulo}}</a></p>
					{% endfor %}
				</div>
			</div>
			{% if banner3 %}
			<a href="{{banner3.url}}">
				<div style="width:100%;height:400px;background-size: contain;background-repeat: no-repeat;margin-top:55px; background-image: url('{{MEDIA_URL}}{{banner3.imagen}}')"></div>
			</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {

	$("#galeria").owlCarousel({

      autoPlay: 3000, //Set AutoPlay to 3 seconds

      items : 4,
      itemsDesktop : [1199,3],
      itemsDesktopSmall : [979,3]

	  });

	$(".fancybox").fancybox();

})
</script>
<!-- Add jQuery library -->

<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="{{STATIC_URL}}fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Add fancyBox -->
<script type="text/javascript" src="{{STATIC_URL}}fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

<!-- Optionally add helpers - button, thumbnail and/or media -->
<script type="text/javascript" src="{{STATIC_URL}}fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="{{STATIC_URL}}fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

<script type="text/javascript" src="{{STATIC_URL}}fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
{% endblock %}