{% extends 'base.html' %}

{% block contenido %}
<div class="container main">
	<div class="row">
		<div class="col-xs-7">
			<div class="row">
				<div class="col-xs-12">
					<h3 class="page-header">Ultimas Entradas de OPINIÓN</h3>
				</div>
			</div>
			{%  for noticia in noticias %}
			<h4>
				<a href="/noticia/{{noticia.slug}}">{{noticia.titulo}}</a>
			</h4>
			<p class="lead">
				<span class="glyphicon glyphicon-time"></span> Publicado el {{noticia.fecha|date:'j \d\e F \d\e\l Y f a'}} por: <a href="/seccion/{{noticia.seccion.slug}}/subseccion/{{noticia.subseccion.slug}}">{{noticia.subseccion.nombre}}</a>
			</p>
			<hr>
			<p>{{noticia.descripcion}}</p>
			<a class="btn btn-primary" href="/noticia/{{noticia.slug}}">Leer <span class="glyphicon glyphicon-chevron-right"></span></a>
			<hr>
			{% endfor %}

			<hr>

			<div class="row text-center">
				<div class="col-xs-12">
					<ul class="pagination">
						{% if noticias.has_previous %}
							<li>
								<a href="/seccion/opinion/?page={{ noticias.previous_page_number }}">&laquo;</a>
							</li>
						{% else %}
							<li class="disabled">
								<a href="#">&laquo;</a>
							</li>
						{% endif %}
						{% for p in noticias.paginator.page_range %}
							{% if p == noticias.number %}
								<li class="active">
							{% else %}
								<li>
							{% endif %}
								<a href="/seccion/opinion/?page={{p}}">{{p}}</a>
							</li>
						{% endfor %}
						{% if noticias.has_next %}
							<li>
								<a href="/seccion/opinion/?page={{ noticias.next_page_number }}">&raquo;</a>
							</li>
						{% else %}
							<li class="disabled">
								<a href="#">&raquo;</a>
							</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>

		<div class="col-xs-4">
			<div class="row">
				<div class="col-xs-12">
					<h3 class="page-header">Secciones</h3>
				</div>
			</div>
			<ul class="list-group">
				{% for subseccion in subsecciones %}
				<li class="list-group-item" style="padding: 6px 11px;">
					<a href="/seccion/{{subseccion.seccion.slug}}/subseccion/{{subseccion.slug}}" style="font-size:17px;">
						{% if subseccion.logo %}
						<img class="img-circle" src="{{subseccion.logo.url}}" style="width:35px; height:35px;margin-right:2px;">
						{% endif %}
						{{ subseccion.nombre }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}