{% extends 'base.html' %}

{% block head %}
	

	<style type="text/css">
		
		body {
			background-color: whitesmoke;
		}

		.t {
			display: table;
			width: 100%;
			height: 100%;
		}

		.tc {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}

		.rel {
			position: relative;
		}

		.book {
			margin: 0 auto;
			height: 90%;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

		.book .page {
			height: 100%;
		}

		.book .page img {
			width: 100%;
			height: 100%;
		}

		div.flip-control {
			width: 400px;
			text-align: center;
		}

		div.flip-control a {
			margin-left: 10px;
		}
	</style>
{% endblock %}

{% block contenido %}
<div class="container main">
	<div class="row">
		<div class="t col-xs-12">
			<div class="tc rel">
				<div class="book" id="book">
					{% for imagen in revista.imagenes %}
						<div class="page"><img src="{{imagen.imagen.url}}" width="650" height="752" alt="" /></div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<center>
		<div class="flip-control">
			<a href="#" id="prev"> <i class='glyphicon glyphicon-chevron-left'></i> </a>
			<a href="#" id="next"> <i class='glyphicon glyphicon-chevron-right'></i> </a>
		</div>
	</center>
</div>
{% endblock %}

{% block scripts %}
	<script src="{{STATIC_URL}}js/lib/turn.js"></script>
	<script src="{{STATIC_URL}}js/lib/zoom-activate.js"></script>
	<script src="{{STATIC_URL}}js/magazine.js"></script>
{% endblock %}